___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Operations

There are lots of operations with pandas that will be really useful to you, but don't fall into any distinct category. Let's show them here in this lecture:

In [1]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

### Info on Unique Values

In [2]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

How many Unique values does this Column has

In [54]:
df['col2'].nunique()

3

What is the occurance of each distinct values

In [55]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

### Applying Functions

In [58]:
def times2(x):
    return x*2

In [59]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [60]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [61]:
df['col1'].sum()

10

Mathematical Computation for Business:
    
https://pandas.pydata.org/pandas-docs/stable/computation.html

Reshaping and Pivot Tables

https://pandas.pydata.org/pandas-docs/stable/reshaping.html

Time Series and DATE Functionality:

https://pandas.pydata.org/pandas-docs/stable/timeseries.html

# Great Job!